<footer class="py-4" style="--footer-bg-color: var(--dark-bg); --footer-text-color: var(--light-text);">
  <div class="container px-lg-4">
    <div class="row text-center">
      <div class="col-md-4 mb-4">
        <p class="mb-0">
          <a href="https://www.jmi.ac.in/" class="text-link" target="_blank">Faculty of Engineering and Technology<br>Jamia Millia Islamia, New Delhi</a>
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <p class="h5 text-uppercase">Interview Experiences</p>
        <div class="decorative-line"></div>
      </div>

      <div class="col-md-4 mb-4">
        <p class="mb-0">
          <span class="h6">
            {{ '©' }} {{ 'now' | date: '%Y' }} |
            <a href="https://github.com/Sarfraz-droid/upc-interview-experiences" class="text-link" target="_blank">Sarfraz Alam</a>
          </span>
        </p>
        {% if site.data.locales[include.lang].copyright.brief %}
          <small
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ site.data.locales[include.lang].copyright.verbose }}"
          >
            {{- site.data.locales[include.lang].copyright.brief -}}
          </small>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
